@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-primary display-3">Game Loan Management</h1>
    <p class="text-muted">Manage your game loans with ease and efficiency.</p>
    <img src="/img/games.png" alt="A game image" class="rounded" />
</div>
