@model LoanModel
@{
    ViewData["Title"] = "Register Loan";
}

<div class="container bg-dark p-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="text-light"> Game Loan Registration </h1>
    </div>

    <form method="post" asp-controller="Loan" asp-action="Create">

        <div class="mb-3">
            <label for="Borrower" class="form-label text-light fs-3">Borrower</label>
            <input type="text" class="form-control text-light" id="Borrower" asp-for="Borrower" placeholder="Who is borrowing the game?">
            <span class="text-danger" asp-validation-for="Borrower"></span>
        </div>

        <div class="mb-3">
            <label for="Lender" class="form-label text-light fs-3">Lender</label>
            <input type="text" class="form-control text-light" id="Lender" asp-for="Lender" placeholder="Who is lending the game?">
            <span class="text-danger" asp-validation-for="Lender"></span>
        </div>

        <div class="mb-3">
            <label for="GameTitle" class="form-label text-light fs-3">Game</label>
            <input type="text" class="form-control text-light" id="GameTitle" asp-for="Game" placeholder="Which game is being loaned?">
            <span class="text-danger" asp-validation-for="Game"></span>
        </div>

        <div class="mb-3">
            <label for="Genre" class="form-label text-light fs-3">Genre</label>
            <input type="text" class="form-control text-light" id="Genre" asp-for="Genre" placeholder="Enter the genre of the game">
            <span class="text-danger" asp-validation-for="Genre"></span>
        </div>

        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Add</button>
            <a class="btn btn-primary w-50" asp-controller="Loan" asp-action="Index"> Back</a>
        </div>

    </form>
</div>
